<div class="container">
  <%= link_to "Back to lists", board_list_path %>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="form-wrapper">
        <h2>Create new list</h2>
        <%= simple_form_for [@board, @list] do |f| %>
          <%= f.input :name %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
     </div>
      <!-- END form-wrapper -->
    </div>
    <!-- END column -->
  </div>
  <!-- END row -->
</div>
<!-- END container -->

