<nav class="navbar">
  <%= link_to root_path do %>
    <img src="" alt="giglab's logo">
  <% end  %>
  <ul class="navbar-links">
    <% if user_signed_in? %>
      <li><%= link_to "My boards", boards_path %></li>
      <li><%= button_to 'Log out', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>
