<div class="container">
  <%= link_to "Back to boards", boards_path %>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="form-wrapper">
        <h2>Edit board</h2>
        <%= render "form" %>
      </div>
      <!-- END form-wrapper -->
    </div>
    <!-- END column -->
  </div>
  <!-- END row -->
</div>
<!-- END container -->
