<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <h1>My boards</h1>
      <p><%= link_to "Create new board", linkt_to new_board_path %></p>
    </div>

    <div class="row">
      <div class="col">
        <%# raise %>
        <%#= simple_form_for @board do |f| %>
          <%#= f.input :name %>
          <%#= f.button :submit  %>
        <%# end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="boards-grid">
        <% @boards.each do |board| %>
        <div class="board">
          <div class="board-title">
            <%= board.name %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
