<%= link_to "Back to my boards", boards_path %>
<h1><%= @board.name %></h1>
<%= link_to "Create new list", new_board_list_path(@board) %>

<div class="lists-grid">
  <% @board.lists.each do |list| %>
    <div class="list">
      <div class="list-title">
        <p><%= list.name %></p>
      </div>
    </div>
  <% end %>
</div>
